In [1]:
import yfinance as yf
import pandas as pd

In [2]:
aapl = yf.Ticker("AAPL")
aapl_df = aapl.history(period="1mo")  # Fetch data for the last month

C:\git\CS4540_Fin_Trend_Analytics\venv\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [3]:
aapl_df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-26 00:00:00-05:00,194.270004,194.759995,191.940002,192.419998,44553400,0.0,0.0
2024-01-29 00:00:00-05:00,192.009995,192.199997,189.580002,191.729996,47145600,0.0,0.0
2024-01-30 00:00:00-05:00,190.940002,191.800003,187.470001,188.039993,55859400,0.0,0.0
2024-01-31 00:00:00-05:00,187.039993,187.100006,184.350006,184.399994,55467800,0.0,0.0
2024-02-01 00:00:00-05:00,183.985001,186.800003,183.820007,186.779999,38726238,0.0,0.0